/* BECOME */
.become {
    background: #faebd7;
    border-bottom: solid 2px black;
    display: flex;
    flex-direction: row;
    padding: 100px;
    padding-top: 60px;
}

.become__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 104px;
    margin-top: 60px;
}

.become__content__header {
    font-family: "DM Serif Display";
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    text-align: left;
    margin-bottom: 20px;
}

.become__content__paragraph {
    font-family: 'Archivo';
    font-size: 24px;
    font-weight: 350;
    line-height: 34.5px;
    text-align: left;
}

.become__content__buttons__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 24px;

}

.become__content__buttons-white {
    color: black;
    background-color: white;
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 18px;
    padding: 14px 20px 14px 20px;
    border: solid;
    border-color: black;
    border-width: 2.5px;
    transition: color 0.2s ease 0s;
    text-decoration: none;
}

.become__content__buttons-white:hover {
    color: white;
    background: black;
}

.become__content__buttons-beige {
    color: black;
    background-color: transparent;
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 18px;
    padding: 14px 20px 14px 20px;
    border: solid;
    border-color: black;
    border-width: 2.5px;
    transition: color 0.2s ease 0s;
    text-decoration: none;
    margin-left: 24px;
}

.become__content__buttons-beige:hover {
    color: white;
    background: black;
}

.become__image__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    max-width: 50%;
}

.become__image__container-image {
    display: block;
    width: 980px;
}


@media all and (min-width: 0px) and (max-width: 1250px) {
    .become__image__container {
        background-color: #faebd7;
        display: none;
    }
}

@media all and (max-width: 1450px) {
    .become {
        padding: 20px;
    }
    .become__content {
        padding: 10px;
    }
    .become__image__container-image {
        width: 600px;
    }
}