/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 48px;
}

.footer__copyright {
    font-family: 'Archivo';
    font-size: 18px;
    color: white;
}

.footer__menu {
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.footer__menu__item {
    font-family: 'Archivo';
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 24px;
    margin-right: 24px;
}

.footer__menu__item:hover {
    text-decoration: underline;
}