/* header */
.header {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0; 
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px black;
    transition: top 0.3s;
    z-index: 1;
}

.header__heading {
    color: rgb(62, 62, 62);
    padding: 0;
    margin: 14px;
    margin-left: 20px;
    transition: color 0.2s ease 0s;
    font-family: 'DM Serif Display';
    font-weight: bold;
    font-size: 32px;
}

.header__heading:hover {
    color: black;
    text-decoration: underline;
}

.header__menu {
    display: flex;
    margin-right: 20px;
    justify-items: center;
    align-items: center;
    
}

.header__menu__item {
    color: rgb(62, 62, 62);
    font-size: 18px;
    margin-left: 24px;
    font-family: 'Archivo';
    font-weight: 600;
    text-decoration: none;
}

.header__menu__item:hover {
    color: black;
    text-decoration: underline;
}

@media all and (min-width: 0px) and (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
}